
body {
    background-color: #F6F3F7;
}

.navbar {
    width: 100%;
    float: right;
    background-color: whites;
}

#title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    font-weight: 500px;
    color: #120402;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 500px;
    color: #120402;
    text-align: center;
    padding: 12px 14px;
}

.description {
    margin-left: 70px;
    margin-right: 50px;
    padding-top: 120px;
    font-family: 'Inconsolata', sans-serif;
    font-size: 30px;
}

.contact {
    padding-top: 50px;
    margin-left: 70px;
    font-family: 'Inconsolata', sans-serif;
    color: black;
}

.linkedin {
    color: #000099;
}

#portfolio_container {
    padding-top: 80px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'Inconsolata', sans-serif;
    font-size: 20px;
    display: grid;
    grid-auto-rows: auto auto auto auto auto;
    grid-row-gap: 100px;
}

.job_title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.paragraph {
    padding-top: 10px;
    padding-bottom: 10px;
}

#MC3_logo {
    max-width: 260px;
}

#swe_logo {
    max-width: 270px;
}

#laz_logo {
    max-width: 350px;
}

#um_logo {
    max-width: 400px;
}

#intel_logo {
    max-width: 300px;
}

.about_me {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 120px;
    font-family: 'Inconsolata', sans-serif;
    font-size: 20px;
}

.purple_title {
    font-family: 'Space Grotesk', sans-serif;
    color: #C2C3FF;
    font-size: 30px;
    
}

.contact_me {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 120px;
    font-family: 'Inconsolata', sans-serif;
    font-size: 20px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}